.piece1 {
    
}
.piece1 .pie {
   color:red;
   -moz-transform:rotate(120deg);
   -webkit-transform:rotate(120deg);
   -o-transform:rotate(120deg);
   transform:rotate(120deg);
}
.piece2 {
  -moz-transform:rotate(120deg);
   -webkit-transform:rotate(120deg);
   -o-transform:rotate(120deg);
   transform:rotate(120deg);
}
.piece2 .pie {
   color:green;
   -moz-transform:rotate(120deg);
   -webkit-transform:rotate(120deg);
   -o-transform:rotate(120deg);
   transform:rotate(120deg);
}
.piece3 {
  -moz-transform:rotate(240deg);
   -webkit-transform:rotate(240deg);
   -o-transform:rotate(240deg);
   transform:rotate(120deg);
}
.piece3 .pie {
   color:blue;
   -moz-transform:rotate(120deg);
   -webkit-transform:rotate(120deg);
   -o-transform:rotate(120deg);
   transform:rotate(120deg);
}