.piece1 .pie {
  color: red;
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg); }

.piece2 {
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg); }

.piece2 .pie {
  color: green;
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg); }

.piece3 {
  -moz-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(120deg); }

.piece3 .pie {
  color: blue;
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg); }

html, body {
  height: 100%; }

.wrapper {
  min-height: 98%;
  height: auto !important;
  margin: 0 auto; }

.navbar-default {
  background: #A3D1CA !important; }
  .navbar-default .navbar-brand {
    color: #fff;
    font-size: 25px;
    padding: 11px 15px; }
  .navbar-default .navbar-default .navbar-toggle, .navbar-default .navbar-default .icon-bar {
    color: #fff !important; }
  .navbar-default .navbar-default .navbar-nav li a:focus, .navbar-default .navbar-default .navbar-nav li a:hover {
    color: #000; }
  .navbar-default .navbar-nav > li > a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 16px; }
  .navbar-default i.fa.fa-angle-right {
    margin-left: 3px;
    font-size: 27px; }
  .navbar-default i.fa.fa-angle-left {
    margin-right: 3px;
    font-size: 27px; }
  .navbar-default .navbar-toggle {
    background: #fff; }

.hr-content {
  display: inline-block; }

.container-main .left-container img {
  width: 100%;
  max-width: 250px;
  float: none; }

.container-main .right-container {
  border-left: none;
  height: 96%; }
  .container-main .right-container ul.skills-list li {
    width: 50%;
    float: left;
    line-height: 2;
    text-transform: uppercase; }
  .container-main .right-container .thumbnail-wrapper {
    margin: 30px 0px; }
  .container-main .right-container .thumbnail {
    border: none;
    margin: 1rem; }
    .container-main .right-container .thumbnail img {
      max-width: 200px;
      height: 62px; }

.container-main h1 {
  font-size: 30px; }

.container-main h2 {
  color: #555;
  border-bottom: 1px solid #ddd; }

.container-main h3 {
  font-size: 20px;
  font-style: italic; }

.container-main p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 15px; }

.container-main label.title {
  font-size: 18px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 15px; }

.container-main .rm-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.show_project_info {
  opacity: 0.9;
  background: #eee;
  z-index: 999; }

.footer {
  height: 3em;
  clear: both;
  background: #A3D1CA;
  padding: 10px; }
  .footer p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 0; }

.hold {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  left: 300px; }

.chart img {
  width: 100%; }

.socialmedia {
  margin: 40px;
  text-align: center; }
  .socialmedia a {
    margin: 15px; }
  .socialmedia i {
    font-size: 5rem;
    color: #777;
    margin: 10px; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-main .right-container {
    border-left: 1px solid #ddd; }
    .container-main .right-container ul.skills-list li {
      width: 33%; }
  .hr-content {
    display: none; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-main .right-container {
    border-left: 1px solid #ddd; }
  .hr-content {
    display: none; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hr-content {
    display: none; } }
